html, body, #root, .layout, .App { height: 100%;}

button { -webkit-appearance: none;}

.layout {
    display: grid;
    background-color: #202541;
}

.main-disconnected {
    display: grid;
    grid-template-columns: 1fr;
}

.main-connected {
    display: grid;
    grid-template-columns: min-content auto;
}

.hide-div {
    height: 100%;
    width: 100%;
    position: absolute;
}

.back-to-menu {
    position: absolute;
    margin-top: .8rem;
    margin-left: 1rem;
    z-index: 10;
    color: red;
    background-color: transparent;
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
    background-image: url('../../img/menu.png');
    background-size: contain;
    border: none;
    z-index: 10;
    display: none;
}

@media (max-width: 1000px){
    .main-connected {
        > div:nth-child(1) {
            display: none;
        }
    }
    .back-to-menu{
        display: flex;
    }

    .main-connected {
        display: grid;
        grid-template-columns: 1fr;
    }
        
}

@media (max-width: 1200px)  { html { font-size: 14px;}}
@media (max-width: 1050px)  { html { font-size: 13px;}}
@media (max-width: 950px)   { html { font-size: 12px;}}
@media (max-width: 600px)   { html { font-size: 11px;}}
@media (max-width: 400px)   { html { font-size: 10px;}}

@media (max-height: 800px) and (min-width: 1200px)  { html { font-size: 14px;}}
@media (max-height: 750px) and (min-width: 1050px)  { html { font-size: 13px;}}
@media (max-height: 700px) and (min-width: 950px)   { html { font-size: 12px;}}
@media (max-height: 650px) and (min-width: 600px)   { html { font-size: 11px;}}
@media (max-height: 600px) and (min-width: 400px)   { html { font-size: 10px;}}
@media (max-height: 600px) and (min-width: 400px)   { html { font-size: 9px;}}

