$color1: #161C3F;
$color2: rgba(#DEEDFF, 8%);
$color3: #4289F3;
$color4: #4B586C;
$color5: rgba(#1F1F1F, 33%);
$font-color1: rgba(#FFFFFF, 90%);
$font-color2: rgba(#0094FF, 58%);
$font-color3: rgba(#FFFFFF, 58%);