@import "../../1-helpers/font.module";

.loginSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginSection {
    > div:nth-child(1) {
        display: flex;
        flex-direction: row;
        margin: 5% 0% 3% 0%;
        > img:nth-child(1) {
        }
        > p:nth-child(2) {
            @include logo--font();
            align-self: center;
        }
    }
}

.loginSection {
    > div:nth-child(2) {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 30rem;
        width: 30%;
        background-color: rgba(222, 237, 255, 0.08);
        border-radius: 15px;
        > p:nth-child(1) {
            @include title--font();
            margin: 15% 0% 10% 0%;
        }
        > form:nth-child(2) {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 80%;
            > div {
                display: flex;
                flex-direction: row;
                border: 2px solid #595E76;
                border-radius: 25px;
                background-color: transparent;
                width: 100%;
                padding: .25rem 0;
                margin: 0% 0% 8% 0%;

                > img {
                    margin: 0% 5% 0% 5%;
                    width: 40px;
                    height: 40px;
                }
                > input {
                    background-color: transparent;
                    border: none;
                    width: 70%;
                    @include p--font;
                    font-size: 15px;
                    color: white;

                }
                > input:focus-within {
                    outline: none;
                    background-color: transparent !important;
                }

         
            }

            > div:focus-within {
                border: 2px solid #838aaf;
            }

            > button:nth-child(3) {
                @include button--font();
                border: none;
                background: #4289F3;
                border-radius: 10px;
                align-self: center;
                width: 100%;
                padding: .75rem 0;
                margin: 10% 0% 9% 0%;
            }

        }
    }
}

.loginSection {
    > div:nth-child(3) {
        display: flex;
        flex-direction: column;
        width: 30rem;
        > div {
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin: 7% 0% 0% 2%;
            
            > p {
                @include p--font();
            }
        
        }
        > button:nth-child(2) {
            @include p--font();
            color: rgba(0, 148, 255, 0.58);
            background-color: transparent;
            border: none;
            margin: 0% 0% 0% 0%;
        }
    }
}

.navLink {
    margin: 0;
    padding: 0;

    > button {
        @include p--font();
        color: rgba(0, 148, 255, 0.58);
        background-color: transparent;
        border: none;
        margin: 0% 0% 3% 12%;
        width: 100%;
    }
}