@import "../../1-helpers/font.module";

.login-section {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.logo {
    display: flex;
    align-items: center;
    margin-bottom: 4.5rem;
    > img { width: 4.5rem; }
    > p { @include logo--font(); }
}
.login-container {
    display: flex;
    flex-direction: column;
    padding: 0 3.5rem;
    background: rgba(222, 237, 255, 0.08);
    border-radius: 10px;
    > p:nth-child(1) {
        @include title--font();
        margin: 15% 0% 10% 0%;
        align-self: center;
    }
    > form {
        display: flex;
        flex-direction: column;
        width: 25rem;
        > button {
            @include button--font();
            border: none;
            background: #4289F3;
            border-radius: 10px;
            align-self: center;
            width: 100%;
            padding: .75rem 0;
            margin: 10% 0% 9% 0%;
        }
    }
}
.div-inputs {
    display: flex;
    align-items: center;
    border: 2px solid rgba(222, 237, 255, 0.1);
    border-radius: 10px;
    background-color: transparent;
    margin-bottom: 8%;
    height: 50px;
    > img {
        margin: 0% 5% 0% 5%;
        width: 30px;
        height: 30px;
    }
    > input {
        background-color: transparent;
        border: none;
        @include p--font;
        font-size: 15px;
        color: white;
        height: 100%;
        width: 70%;
    }
    > input:focus-within {
        outline: none;
        background-color: transparent !important;
    }
}
.div-inputs:focus-within {
    // outline: 1px solid red;
    border: 1px solid rgba(222, 237, 255, 0.35);
}

.div-checkbox-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    label {
        margin-left: 2%;
        font-size: 0.938rem;
        color: white;
    }
}
.connect-button {
    @include button--font();
    border: none;
    background: #4289F3;
    border-radius: 10px;
    align-self: center;
    width: 100%;
    padding: .75rem 0;
    margin: 10% 0% 9% 0%;
}
.login-container-bottom {
    display: flex;
    flex-direction: column;
    margin-top: 2.4rem;
    > div:nth-child(1) {
        display: flex;
        justify-content: center;
        > p { @include p--font(); }
        .nav-link {
            margin: 0;
            padding: 0;

            > button {
                @include p--font();
                color: rgba(0, 148, 255, 0.58);
                background-color: transparent;
                border: none;
                margin: 0% 0% 3% 12%;
                width: 100%;
            }
        }
    }
    > button:nth-child(2) {
        @include p--font();
        color: rgba(0, 148, 255, 0.58);
        background-color: transparent;
        border: none;
        margin: 0.6rem 0% 0% 0%;
        width: 100%;
    }

}
