@import "../../1-helpers/font.module";

.sign-up-section {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo {
    display: flex;
    align-items: center;
    margin-bottom: 4.5rem;
    > img {
        width: 4.5rem;
    }
    > p {
        @include logo--font();
        align-self: center;
    }
}
.sign-up-container {
    display: flex;
    flex-direction: column;
    padding: 0 3.5rem;
    background: rgba(222, 237, 255, 0.08);
    border-radius: 10px;
    margin-bottom: 2.5rem;

    > p {
        @include title--font();
        margin: 15% 0% 10% 0%;
    }
    > form {
        > button {
            @include button--font();
            border: none;
            background: #4289F3;
            border-radius: 10px;
            align-self: center;
            width: 100%;
            padding: .75rem 0;
            margin: 3% 0% 9% 0%;
        }
    }
}

.div-inputs {
    display: flex;
    align-items: center;
    border: 2px solid rgba(222, 237, 255, 0.1);
    border-radius: 10px;
    background-color: transparent;
    margin-bottom: 8%;
    height: 50px;
    > img {
        margin: 0% 5% 0% 5%;
        width: 30px;
        height: 30px;
    }
    > input {
        background-color: transparent;
        border: none;
        @include p--font;
        font-size: 15px;
        color: white;
        height: 100%;
        width: 70%;
    }
    > input:focus-within {
        outline: none;
        background-color: transparent !important;
    }
}
.div-inputs:focus-within {
    // outline: 1px solid red;
    border: 1px solid rgba(222, 237, 255, 0.35);
}
.sign-up-container-bottom {
    display: flex;
    > p {
        @include p--font();
    }
    .nav-link > button {
        @include p--font();
        color: rgba(0, 148, 255, 0.58);
        background-color: transparent;
        border: none;
        margin: 0% 0% 3% 12%;
        width: 100%;
    }
}