@import "../../assets/1-helpers/font.module";

.name { @include tempo-font(); }
.players { @include tempo-font(); }
.line {   
    justify-self: center;
    border-left: 2px solid #51577B;
    height: 70%;
    align-self: center;
}
.subscribe-button {
    @include tempo-font();
    background-color: #4B586C;
    border-radius: 10px;
    font-weight: bold;
    font-size: .8rem;
    color: #FFFFFF;
    border: none;
    height: 60%;
    width: 90%;
}
.leave-button {
    @include tempo-font();
    background-color: transparent;
    border: none;
    margin-right: 1rem;
    margin-left: .5rem;
}


.room-subscribe {
    margin-bottom: 5%;
    display: grid;
    grid-template-columns: 1fr min-content 1fr 1fr auto;
    border: 1px solid rgba(#fff, 20%);
    border-radius: 10px;
    min-height: 4rem;
    margin: 0 2.5rem;
    margin-bottom: 5%;
}
.room-leave {
    margin-bottom: 5%;
    display: grid;
    grid-template-columns: 1fr min-content 1fr 1fr auto;
    border: 1px solid rgba(#fff, 20%);
    border-radius: 10px;
    min-height: 4rem;
    margin: 0 2.5rem;
    margin-bottom: 5%;
}