.div {
    margin-bottom: 5%;
    display: grid;
    grid-template-columns: minmax(0, 6fr) minmax(0, 1fr) minmax(0, 6fr) minmax(0, 6fr) minmax(0, 2fr);
    background-color: rgba(53, 59, 100, 0.78);
    border-radius: 5px;
    min-height: 4rem;
    > p:nth-child(1) {
        justify-self: center;
        align-self: center;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 1.2rem;
        line-height: 16px;
        letter-spacing: 0.05em;
        color: #A5A4C2;
        padding: 0;
        margin: 0;
    }

    > div:nth-child(2) {
        justify-self: center;

        border-left: 2px solid #51577B;
    }

    > p:nth-child(3) {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        align-self: center;

        font-size: 1.2rem;
        line-height: 16px;
        letter-spacing: 0.05em;
        color: #A5A4C2;
        padding: 0;
        margin: 0;
        justify-self: center;

    }

    > button:nth-child(4) {
        background: #4289F3;
        border-radius: 5px;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: .8rem;
        line-height: 11px;
        letter-spacing: 0.05em;
        color: #FFFFFF;
        border:none;
        height: 60%;
        align-self: center;
        margin-right: 7.5%;
        margin-left: 7.5%;
    }
      > button:nth-child(5) {
        border: none;
        align-self: center;
        justify-self: center;
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 1rem;
        background-color: transparent;
        color: rgb(255, 255, 255);
        font-family: Roboto;
        font-weight: bold;
        font-size: 1rem;
        // box-shadow: 0px 0px 14px 4px rgba(0,0,0,0.1);
        margin-right: 20%;
    }

}