@import "../../1-helpers/font.module";


.search-room {
    justify-self: center;
    align-self: center;
    display: grid;
    grid-template-rows: min-content min-content auto;
    background-color: rgba(222, 237, 255, 0.08);
    border-radius: 10px;
    width: 35rem;
    height: 40rem;

}

.search-room > p:nth-child(1) {
    @include title--font;
    margin-top: 13%;
    margin-bottom: 10%;
    justify-self: center;
}

.search-input-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 3.6rem;
    border: 2px solid #595E76;
    border-radius: 10px;
    margin: 0 2.5rem;
    margin-right: 3.5rem;
    margin-bottom: 8%;

    img {
        width: 2rem;
        height: 2rem;
        margin: 0% 5% 0% 4%;
    }
    input {
        background-color: transparent;
        border: none;
        @include p--font;
        color: white;
        width: 70%;
        height: 100%;
    }

}
.search-input-div:focus-within {
    border: 2px solid #838aaf;
    > input{
        outline: none;
        background-color: transparent !important;
    }
}


.result-container {
    overflow-y: auto;

    // margin-left: 5%;
}
.result-container::-webkit-scrollbar {
        background-color: #4B586C;
        width: 1rem;
        border-bottom-right-radius: 50rem;

}
.result-container::-webkit-scrollbar-thumb {
    background-color: rgba(#1F1F1F, 33%);
}